<table>
  <thead>
    <tr >
      <th>#</th>
      <th>Title</th>
      <th>Text</th>
      <th>Author</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let article of articlesArr; index as i">
      <td>{{i+1}}.</td>
      <td>{{article.title | slice:0:50}} <span *ngIf="article.title.length > 50">...</span></td>
      <td>{{article.text | slice:0:150}} <span *ngIf="article.text.length > 150">...</span></td>
      <td>{{article.author | slice:0:150}} <span *ngIf="article.title.length > 50">...</span></td>
      <td><button type="button" class="btn" (click)="editArticle(article)">Edit</button></td>
      <td><button type="button" class="btn" (click)="deleteArticle(article)">Delete</button></td>
    </tr>
  </tbody>
</table>